@tailwind base;
@tailwind components;
@tailwind utilities;



.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #B88E2F;
  border-radius: 100px;
}